<h4><strong>本当に退会しますか？</strong></h4>

<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to customer_path(@customer.id) do %>
  <button type="button" class="btn btn-primary">退会しない</button>
<% end %>

<%= link_to unsubscribe_customer_path, method: :patch do %>
  <button type="button" class="btn btn-danger">退会する</button>
<% end %>