<div class="container">
  <h3 class="row mt-5 mb-3"><strong class="col-5 mx-auto my-4 text-center">本当に退会しますか？</strong></h3>

  <div class="row mb-3 mx-auto">
    <p class="col-8 mx-auto text-center">退会すると、会員登録情報や</p>
    <p class="col-8 mx-auto text-center">これまでの購入履歴が閲覧できなくなります。</p>
    <p class="col-8 mx-auto text-center">退会する場合は、「退会する」をクリックしてください。</p>
  </div>

  <div class="row">
    <div class="ml-auto col-4">
        <%= link_to customers_path, class:"col-6 ml-auto" do %>
          <button type="button" class="btn btn-primary btn-lg btn-block">退会しない</button>
        <% end %>
    </div>
    <div class="mr-auto col-4">
      <%= link_to unsubscribe_customer_path, method: :patch, data: {confirm: "本当に削除しますか？"}, class:"col-6 mr-auto" do %>
        <button type="button" class="btn btn-danger btn-lg btn-block">退会する</button>
      <% end %>
    </div>
  </div>

</div>



