<div class="container">
  <div class="row">

    <div class="col-3">
      <table>
        <thead>
          ジャンル
        </thead>
      </table>
    </div>

    <div class="col-9 container">

      <div class="top-intro">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でもない方も商品の閲覧はできますが、</p>
        <p>購入には、会員登録が必要になります。</p>
      </div>

      <div class="row new-items">
        <h2>新着商品</h2>
      </div>

    </div>
  </div>
</div>
