<div class="container">

  <div class="row mt-4">
    <div class="col-8 row mx-auto">
      <h3 class="col-4 rounded text-center bg-light">会員一覧</h3>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      <table class="table table-hover">

        <thead>
          <tr class="row table-secondary">
            <th class="col-2">会員ID</th>
            <th class="col-3">氏名</th>
            <th class="col-5">メールアドレス</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>

          <tr class="row">
            <td class="col-2"><%= customer.id %></td>
            <td class="col-3"><%= link_to customer.full_name(customer.last_name, customer.first_name), admin_customer_path(customer.id) %></td>
            <td class="col-5"><%= customer.email %></td>
            <td class="col-2">
              <% if customer.is_deleted == false %>
                <label class="text-success"><strong>有効</strong></label>
              <% else %>
                <label class="text-danger"><strong>退会</strong></label>
              <% end %>
            </td>
          </tr>

          <% end %>
        </tbody>

      </table>
    </div>
  </div>

  <%= paginate @customers %>
</div>