@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

nav {
  padding-top: 20px;
}

.new-items {
  height: 40%;
}

.pagination {
  justify-content: center;
}

.introduce {
  font-size: 1.3rem;
  height: 350px;
}

.item-image {
  width: 180px;
  height: 120px;
}