<div>
  <%= @item.name %>
</div>

<div>
  <%= @item.introduction %>
</div>

<div>
  <%= @item.price * 1.1 %>
  <h6>(税込)</h6>
</div>

<div>個数選択</div>

<div>
  <button type="button" class="btn btn-success">カートに入れる(リンクは後でつける)</button>
</div>